# first pipeline
# azure-pipelines.yml (ejemplo Node.js)
trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - '*'         # ejecuta CI para PRs (validación)

pool:
  vmImage: 'ubuntu-latest'

variables:
  nodeVersion: '18.x'

stages:
- stage: BuildAndScan
  displayName: Build, Test & Scan
  jobs:
  - job: build
    displayName: Build and Scan Code
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '$(nodeVersion)'
      displayName: 'Use Node.js'

    - script: npm i
      displayName: 'Install dependencies'

    - script: |
        echo "Creando package-lock.json..."
        npm install --package-lock-only
      displayName: 'Generate package-lock.json'

    - script: npm install -g @angular/cli
      displayName: 'Install Angular CLI'

    - script: |
        npm test || echo "Tests failed — continuing pipeline"
      displayName: 'Run unit tests (ignore failures)'

    - script: echo "Skipping build — no build script defined"
      displayName: 'Build project (skipped)'

    - task: Checkmarx AST@3
      inputs:
        CheckmarxService: 'juiceshop-connection'
        projectName: '$(Build.Repository.Name)'
        branchName: '$(Build.SourceBranchName)'
        tenantName: 'nfr_lugapel-ast'


#- stage: Deploy
#  displayName: Deploy to Azure (main only)
#  dependsOn: Build
#  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
#  jobs:
#  - deployment: deployWeb
#    environment: 'production'
#    strategy:
#      runOnce:
#        deploy:
#          steps:
#          - download: current
#            artifact: drop

#         - task: AzureWebApp@1
#            inputs:
#              azureSubscription: '$(azureSubscription)'
#              appName: '$(webAppName)'
#              package: '$(Pipeline.Workspace)/drop/**/*.zip'
#            displayName: 'Deploy to Azure Web App'
